{
	"presets": [
		"@babel/env", "@babel/typescript"
	],
	"plugins": [
			"@babel/proposal-class-properties",
			"@babel/proposal-object-rest-spread"
	],
	"env": {
        "development": {
			"presets": [
				"minify"
			]
		},
        "production": { "presets": ["minify"] }
    }
}
